h1, h2{
    text-align: center;
    font-style: italic;
}

h2{
  font-size: 27px;
}

 dl {
  position: relative;
  float: left;
  left: 8vw;
  font-size: 17.25px;
 }

#a {
  text-align: center;
  font-size: 17.25px;
 }

#selection {
    position: relative;
    left: 39.75vw;
}

img {
    position: relative;
    left: 69vw;
    width: 23vw;
    height: 35vw;
}
iframe {
    position: relative;
    bottom: 8vw;
    left: 5vw;
    width: 30vw;
    height: 15vw;
  }

p {
    text-align: center;
    font-size: 24px;
  }
  
body {
    background-color: #593876
  }